<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "bogo.ruanjianyuan"
        version   = "1.0.0">
  <name>环普一卡通</name>
  <description>
    环普科技产业园
  </description>
  <access origin="*" />
  <author href="http://phonegap.com" email="support@163.com">
    环普科技产业园
  </author>
  <preference name="phonegap-version" value="3.4.0" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />

  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    <param name="ios-package" value="CDVConnection" />
  </feature>

  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:config-file platform="ios" parent="UIStatusBarHidden"  overwrite="true">
    <true/>
  </gap:config-file>
  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
  </gap:config-file>
  <gap:config-file platform="ios" parent="CFBundleVersion">
    <string>7</string>
  </gap:config-file>
  <preference name="orientation" value="default" />
  <preference name="target-device" value="handset" />
  <preference name="Fullscreen" value="true" />
  <preference name="SplashScreen" value="splash" />
  <preference name="EnableViewportScale"      value="false" />
  <preference name="SplashScreenDelay" value="5000" />
  <preference name="splash-screen-duration" value="5000"/>
  <icon gap:platform="android" gap:qualifier="ldpi" src="res/icons/android/ic_launcher_ldpi.png" />
  <icon gap:platform="android" gap:qualifier="mdpi" src="res/icons/android/ic_launcher_mdpi.png" />
  <icon gap:platform="android" gap:qualifier="hdpi" src="res/icons/android/ic_launcher_hdpi.png" />
  <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icons/android/ic_launcher_xhdpi.png" />
  <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icons/android/ic_launcher_xxhdpi.png" />
  <icon src="res/icons/ios/57.png"            gap:platform="ios"        width="57" height="57" />
  <icon src="res/icons/ios/72.png"            gap:platform="ios"        width="72" height="72" />
  <icon src="res/icons/ios/114.png"         gap:platform="ios"        width="114" height="114" />
  <icon src="res/icons/ios/144.png"         gap:platform="ios"        width="144" height="144" />
  <icon src="res/icons/ios/120.png"            gap:platform="ios"        width="120" height="120" />
  <icon src="res/icons/ios/152.png"            gap:platform="ios"        width="152" height="152" />
  <icon src="res/icons/ios/76.png"         gap:platform="ios"        width="76" height="76" />
  <gap:splash src="res/screen/android/bg_01.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="res/screen/android/bg_02.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="res/screen/android/bg_03.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="res/screen/android/bg_04.png" gap:platform="android" gap:density="xhdpi" />
  <gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
  <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
