<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "bogo.ruanjianyuan"
        version   = "1.0.0">
  <name>HuanPu</name>
  <description>
    Huan pu
  </description>
  <access origin="*" />
  <author href="http://phonegap.com" email="support@Huanpu.com">
    Huan pu
  </author>
  <preference name="phonegap-version" value="3.5.0" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />

  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    <param name="ios-package" value="CDVConnection" />
  </feature>


  <icon src="res/drawable-ldpi/ic_launcher.png"   gap:platform="android"    gap:density="ldpi" />
  <icon src="res/drawable-mdpi/ic_launcher.png"   gap:platform="android"    gap:density="mdpi" />
  <icon src="res/drawable-hdpi/ic_launcher.png"   gap:platform="android"    gap:density="hdpi" />
  <icon src="res/drawable-xhdpi/ic_launcher.png"  gap:platform="android"    gap:density="xhdpi" />
  <gap:splash src="res/screen/android/bg_01.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="res/screen/android/bg_02.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="res/screen/android/bg_03.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="res/screen/android/bg_04.png" gap:platform="android" gap:density="xhdpi" />
  <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
